{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
    <div style="text-align: center; border: 20px black;">
        <h1 style="font-size: 50px; text-decoration: underline;">TEACHER PROFILE</h1>
        <div style="display:flex">
            <div style="display:flex; flex:33%; padding-left: 20%; margin-top: 5%;">
                <img src="{% static 'img/student.jpg' %}" width="300" height="300" alt="Shreyas Image">
            </div>
            <div style="flex:33%; margin-right: 12%; margin-top: 6%; text-align: left;">
            <h2>Name: Prof Bhavesh Panchal</h2>
            <h2>Branch: Computer Engineering </h2>
            <h2>Birth date: 00/00/0000 </h2>
            <h2>Address: Mumbai</h2>
            <h2>Blood Group: -</h2>

            </div>
            
        </div>
    </div>
    
</body>
</html>